.Rproj.user
.Rhistory
.RData
.Ruserdata
Coursera-Swiftkey
sample_text.rd
sample_text.rds
.DS_Store
ngram1.rds
ngram2.rds
ngram3.rds
week-2-task-3.R
week-2-task-2.R
CDSC-Milestone_1.nb.html
rsconnect
CDSC-Milestone_1.html
